* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app { 
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 95%;
  background-color: rgb(5, 55, 102);
}
#app img{
  max-width: 30%;
  display: block;
  margin: 20px auto;

}
#app input,
#app button {
  padding: 10px 20px;
  margin: 30px 0;
}
#app input {
  width: 30%;
  max-width: 60%;
  font-size: 14px;
  margin-right: 10px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
}
#app button {
  border-radius: 10px;
}
#app #container {
  margin: auto;
  width: 80%;
}
#app #container::after {
  clear: both;
  display: table;
  content: "";
}
#app ul {
  width: calc((100% / 2) - 20px);
  margin: 10px;
  background-color: #f5f7f7;
  padding: 30px 5px;
  border-radius: 10px;
  float: left;
}
#app ul h2{
  margin-bottom: 20px;
}
#app ul h4{
  letter-spacing: 8px;
  margin: 10px 0;
  text-transform: uppercase;
}
#app ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
#app ul li:nth-child(even){
  background-color: #ffffff;
}
#app ul li:nth-child(odd){
  background-color: #f5f7f7;
}
.fas {
  cursor: pointer;
}

/* TASK LIST OK */
#app #container #task-list-ok li {
  justify-content: center;
  text-decoration: line-through;
}